<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.redq.shining.mapper.UserMapper">

    <!-- 查询所有 -->
    <select id="findAll" resultType="com.redq.shining.entity.User">
        SELECT * FROM user;
    </select>
</mapper>